.share {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 2px 2px 4px black;
  border: 2px solid gray;
  background-image: url('../../Images/shareImage.jpg');
  background-size: cover;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.shareWrapper {
  padding: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInput {
  border: none;
  width: 80%;
  background-color: transparent;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions{
    display: flex;
    margin-left: 20px;
}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareIcon{
    font-size: 18px;
    margin-right: 3px;
}

.shareOptionText{
    font-size: 14px;
    font-weight: 500;
}

.shareButton{
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: black;
    box-shadow: 2px 2px 4px gray;
}

.shareButton:hover{
  background-image: url('../../Images/sidebar.jpg');
  background-size: cover;
}

.shareButton:active{
  box-shadow: 2px 2px 4px black;
  transition-duration: 0.2s;
  transform: translateX(0px) translateY(2px);
}

.shareImgContainer{
  padding: 0 20px 10px 20px;
  position: relative;
}

.shareImg{
  width: 100%;
  object-fit: cover;
}

.shareCancelImg{
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  opacity: 0.7;
}